# Ignoriši sve u root-u po difoltu
*

# Dozvoli ova tri projekta i njihov sadržaj
!EmirSaracevic-Klijent/
!EmirSaracevic-Klijent/**

!EmirSaracevic-Server/
!EmirSaracevic-Server/**

!EmirSaracevic-Zajednicki/
!EmirSaracevic-Zajednicki/**

# I dalje ignoriši build/IDE artefakte unutar njih
EmirSaracevic-*/build/
EmirSaracevic-*/dist/
EmirSaracevic-*/nbproject/private/
**/*.class
/.idea/
*.iml
